@use "./components/button";
@use "./utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Lora';
    color: rgb(49, 47, 47);
}

p, span {
    color:rgb(88, 87, 87)
}

.container {
    width: clamp(320px, 90%, 1400px);
    padding: 0 1rem;
    margin: 0 auto;
}


.page-title {
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        letter-spacing: 3px;
        font-size: clamp(2rem, 5vw, 4rem);
        margin-bottom: 1rem;
    }

    .subtitle {
        width: 80%;
        line-height: 1.6rem;
        letter-spacing: .7px;
        margin-bottom: 2.3rem;
    }

    .btn {
        margin-bottom: 2rem;
    }
}
.playground {
    position: relative;

    .menu {
        width: 80%;
        position: absolute;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        top: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 10px 30px rgba(155, 154, 154, 0.3);

        .menu-item {
            display: flex;
            color: #555;
            align-items: center;
            gap: .3rem;
        }

    }
}

#canvas {
    width: 100%;
    height: 100vh;
}
