@use "./../mixins";

.sidebar {
    width: auto;
    height: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    @include mixins.cardWithShadow;

    .icons {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .3rem;
    }
    .sidebar-item {
        position: relative;
        a {
            color: #777;
            padding: .3rem;
            display: block;
            border-radius: .3rem;
            &:hover {
                background-color: rgba(165, 163, 163, 0.1);
            }
        }

        &.sidebar-item-open .sidebar-sub {
            right: calc(100% + 1.3rem);
            opacity: 1;
            visibility: visible;
        }

        .sidebar-sub {
            position: absolute;
            right: calc(100% + 1rem);
            top: 0;
            min-width: 230px;
            visibility: hidden;
            opacity: 0;
            background-color: white;
            transition: all .2s ease-in-out;
            @include mixins.cardWithShadow;

        }
    }
}