$primary: rgb(86, 84, 230);

.btn {
    padding: .3rem .5rem;
    transition: all .2s;
    border-radius: .3rem;
    cursor: pointer;
    border: none;

    &.btn-circle {
        border-radius: 50%;
        border: 1px solid #ccc;
    }
    svg {
        align-items: center;
        margin-top: 3px;
    }
    &.btn-transparent {
        background-color: transparent;
        border: 1px solid rgb(219, 219, 219)
    }
    &.btn-bounce {
        animation: bounce 2s ease-in-out infinite alternate 
    }
    &.btn-shadow {
        box-shadow: 0px 7px 20px rgba(179, 170, 170, 0.295);
    }
    &.btn-primary {
        background-color: $primary;
        color: white;
        &:hover {
            background-color: darken($primary, 30%);
        }
        &:active {
            background-color: lighten($primary, 5%);
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }
    0% {
        transform: translateY(20px)
    }
}