.text-muted { color: #777 }
.text-xs { font-size: .825rem }
.flex { display: flex; }
.items-center { align-items: center; }
.my-3 { margin: .6rem 0; }
.mt-3 { margin-top: .6rem; }
.mb-3 { margin-bottom: .6rem; }
.ml-3 { margin-left: .6rem; }
.ml-auto { margin-left: auto; }
.gap-2 { gap: .2rem }

.grid { display: grid; }
.two-cols { gap: 1rem; grid-template-columns: 1fr 1fr; }

.inline-block { display: inline-block; }